<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>JumpPoisonCalculatePageServlet</servlet-name>
        <servlet-class>com.frxxz.servlet.poe.JumpPoisonCalculatePageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JumpPoisonCalculatePageServlet</servlet-name>
        <url-pattern>/jump-poisoncalculate-page</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PoisonCalculateServlet</servlet-name>
        <servlet-class>com.frxxz.servlet.poe.PoisonCalculateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PoisonCalculateServlet</servlet-name>
        <url-pattern>/poe/poisoncalculate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ScheduleHomePageServlet</servlet-name>
        <servlet-class>com.frxxz.servlet.schedule.ScheduleHomepageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ScheduleHomePageServlet</servlet-name>
        <url-pattern>/jump-schedule-page</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReturnToHomepage</servlet-name>
        <servlet-class>com.frxxz.servlet.common.ReturnToHomepageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReturnToHomepage</servlet-name>
        <url-pattern>/common/return_to_homepage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ScheduleFormSubmit</servlet-name>
        <servlet-class>com.frxxz.servlet.schedule.ScheduleformServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ScheduleFormSubmit</servlet-name>
        <url-pattern>/schedule/schedule_form_submit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Description</servlet-name>
        <servlet-class>com.frxxz.servlet.schedule.DescriptionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Description</servlet-name>
        <url-pattern>/description</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>com.frxxz.servlet.index.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>HtmlServlet</servlet-name>
        <servlet-class>com.frxxz.servlet.html.HtmlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HtmlServlet</servlet-name>
        <url-pattern>/html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CssServlet</servlet-name>
        <servlet-class>com.frxxz.servlet.css.CssServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CssServlet</servlet-name>
        <url-pattern>/css</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CatalogueServlet</servlet-name>
        <servlet-class>com.frxxz.servlet.catalogue.CatalogueServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>CatalogueServlet</servlet-name>
        <url-pattern>/catalogue</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ConceptServlet</servlet-name>
        <servlet-class>com.frxxz.servlet.concept.ConceptServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConceptServlet</servlet-name>
        <url-pattern>/concept</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ScheduleServlet</servlet-name>
        <servlet-class>com.frxxz.servlet.schedule.ScheduleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ScheduleServlet</servlet-name>
        <url-pattern>/schedule</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.html</url-pattern>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.png</url-pattern>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.jpeg</url-pattern>
    </servlet-mapping>

</web-app>